@model Lopez_Tomas_Examen_Progreso_1.Models.Lopez

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lopez</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncelular" class="control-label"></label>
                <select asp-for="Ncelular" class="form-control" asp-items="ViewBag.IDcelular"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="afiliado" /> @Html.DisplayNameFor(model => model.afiliado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="decFav" class="control-label"></label>
                <input asp-for="decFav" class="form-control" />
                <span asp-validation-for="decFav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
